body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.WebsiteWrapper{
  overflow: auto;
  width: 100vw;
  font-family:"Helvetica Neue";
}

.content{
  width: 100vw;
  top: 0px;
}

.housingCard{
  font-size: 20px;
  color: black;
}

.cardNames{
  text-align:left;
}

.cardNames{
  font-size:20px;
}

.cardItem{
  text-align:right;
}
.nav-bar-wrapper{
  min-height: 64px;
  height: 64px;
  top: 0px;
}

.wcBackMsg {
  font-size: 20px;
}
#my-nav-bar{
  background-color: rgba(196, 30, 58, 1);

}

#my-nav-bar button{
  background-color: rgba(196, 30, 58, 1);
  border-color: white;
}

#my-nav-bar button:hover{
  border-color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.kep-login-facebook.metro {
    border-radius: 10;
}

.fb-button button:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.rc-slider-track {
    background-color: rgba(196, 30, 58);
}

.rc-slider-handle{
  background-color: #fa9696;
  border: 0px;
} .rc-slider-handle:focus{
    border-color: #ca1818;
}

.modal-header{
  background-color: rgba(196, 30, 58, 1);
  color: white;
}

.WebsiteWrapper{
  overflow: auto;
  width: 100vw;
  margin: 2px 2px 2px 2px;
}

.customSlider{
  margin-left: 5%;
  margin-right: 5%;
}

.listing-left{
  max-width: 60%;
  min-width: 40%;
  overflow: hidden;
  position: "relative";
}

.listing-pic{
  object-fit: fill;
}

.listing-info{
  max-width: 40%;
  min-width: 40%;
  position: "relative";
  margin-left:auto;
  margin-right:0;
}

.loadingScreen{
  min-height: 40%;
  width: 100vw;
}

.item-appear {
  opacity: 0;
}

.item-appear {
  opacity: 1;
  transition: opacity 300ms linear;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
